extends main_layout
block title 
  add_item
block content
  div#main
    div.grid_libre_franklin
      page_headline ADD NEW ITEM
    div.grid_garet
      su_desc Thanks for selling your hand me downs! Please fill all the fields
      br
      br
    form#add_item_form(action="/create_item" method='POST' enctype='multipart/form-data')
      div.add_item_flex
        div.grid_garet_bold
          input#add_item_name.input_bar(type='text' name="add_item_name" placeholder='ITEM NAME' required)
          label(for='add_item_category') Choose a category:
          select#add_item_category.input_bar(required name="add_item_category")
            option()
            each cat in categories
              option(value=cat.category) #{cat.category}
          input#add_item_address.input_bar(type='text' name= "add_item_address" placeholder='Pickup address' required)
          input#add_item_size.input_bar(type='text' name="add_item_size" placeholder='SIZE' required)
          input#add_item_brand.input_bar(type='text' name= "add_item_brand" placeholder='BRAND' required)
          input#add_item_year.input_bar(type='number' name= "add_item_year" placeholder='YEAR OF MANUFACTURE' min='1900' max='2023' required)
          input#add_item_price.input_bar(type='number' name= "add_item_price" placeholder='PRICE' min='0' required)
        label(for='imageupload')
          img(src='/graphics/insert_item_picture.png')
        input#imageupload(type='file'  name='imageupload' accept='image/*' required)
      div.grid_garet_bold
        input#finish_signup.button(type='submit' value='FINISH')