extends main_layout
block title 
  categories
block content
  div#main
    div.grid_libre_franklin
      page_headline CATEGORIES
    br
    br
    br
    div.grid_categories
      div.grid_categories_left
        div.grid_garet_bold
          each cat in top_categories
            input.button.button-category(type='button' value=cat.category  onclick='window.location.href="'+cat.category_page+'";')
      div.grid_categories_right
        div.grid_garet_bold
          each cat in bottom_categories
            input.button.button-category(type='button' value=cat.category  onclick='window.location.href="'+cat.category_page+'";')