meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width' initial-scale='1.0')
link(rel='stylesheet' href='../static/fashion_responsible_fe.css')
script(defer src='../static/fashion_responsible_fe.js')
title checkout
.header_container
  .side_fr
    a#side_name(href='main_page.html') FASHION RESPONSIBLE
  #side_nav_bar.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') ×
    a(href='main_page.html') Main page
    a(href='categories.html') Categories
    a(href='men_pants.html') Men's pants
    a(href='men_shirts.html') Men's shirts
    a(href='men_shoes.html') Men's shoes
    a(href='men_accessories.html') Men's accessories
    a(href='women_pants.html') Women's pants
    a(href='women_shirts.html') Women's shirts
    a(href='women_shoes.html') Women's shoes
    a(href='women_accessories.html') Women's accessories
    a(href='add_item.html') Add new item
  .side_nav_button
    input(type='image' src='../static/cart_symbol.png' alt='button' onclick='window.location.href=\'cart.html\';')
    input(type='image' src='../static/nav_symbol.png' alt='button' onclick='openNav()')
#main
  .grid_libre_franklin
    page_headline CHECKOUT
  br
  br
  form#checkout_form(action method='GET')
    .grid_garet_bold.checkout_flex
      input#address_conf.input_bar(type='text' placeholder='SHIPPING ADDRESS' required)
      input#phone_number.input_bar(type='text' placeholder='PHONE NUMBER' pattern='[0][0-9]{9}' title='Please insert phone number with 0 at beginning and digits only' required)
      credit_card_label
        | Credit card details
        br
        | (number, exp. date, security code):
      input#credit_card_num.input_bar(type='text' placeholder='1234-1234-1234-1234' pattern='[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}' title='Please insert credit card number as shows on the card (with hyphens)' required)
      input#credit_card_date.input_bar.month_input_bar(type='month' value='2023-01' min='2023-01' required)
      input#credit_card_sec.input_bar(type='number' placeholder='123' pattern='[0-9]{3}' required)
      credit_card_label Total: 60 NIS
      input#finish_checkout.button.finish_checkout(type='submit' value='CONFIRM AND PAY')