extends main_layout
block title 
  checkout
block content
  div#main
    div.grid_libre_franklin
     page_headline CHECKOUT
    br
    br
  form#checkout_form(action="/checkout_pay" method='POST')
    div.grid_garet_bold.checkout_flex
      input#phone_number.input_bar(type='text' name="phone_number" placeholder='PHONE NUMBER' pattern='[0][0-9]{9}' title='Please insert phone number with 0 at beginning and digits only' required)
      credit_card_label
        | Credit card details
        br
        | (number, exp. date, security code):
      input#credit_card_num.input_bar(type='text' name="credit_card_num" placeholder='1234-1234-1234-1234' pattern='[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}' title='Please insert credit card number as shows on the card (with hyphens)' required)
      input#credit_card_date.input_bar.month_input_bar(type='month' name="credit_card_date" value='2023-01' min='2023-01' required)
      input#credit_card_sec.input_bar(type='number' name="credit_card_sec" placeholder='123' pattern='[0-9]{3}' required)
      credit_card_label Total: #{total_price} NIS
      input#finish_checkout.button.finish_checkout(type='submit' value='CONFIRM AND PAY')