extends initial_layout
block title 
  forgot_password
block content
  div.grid_libre_franklin
    hp_fr FASHION
    hp_fr RESPONSIBLE
  div.grid_garet
    hp_desc
      | Please enter your registered email address
      br
      | and a new password will be sent to you
  br
  div.grid_garet_bold
    form#forgot_pass_form(action="/reset_pass" method='POST')
      input#email_forgot_pass.input_bar(type='email' name="email_forgot_pass" placeholder='EMAIL ADDRESS' required)
      br
      br
      div.grid_garet_bold
        input#send.button(type='submit' value='SEND')