doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width' initial-scale='1.0')
    link(rel='stylesheet' href='css/fashion_responsible_fe.css')
    script(src='js/fashion_responsible_fe.js',defer)
    block title
  body#initial
    header
          div.header_container
            div.side_fr
              a#side_name(href="http://localhost:3000/homepage") FASHION RESPONSIBLE
    block content