extends main_layout
block title 
  main_page
block content
  div#main
    div.grid_garet_bold
      hp_slogan Affordable fashion, zero pollution
      br
      br
    div.mp_design
      div#about_us
        div.grid_libre_franklin.mp_headline About us...
        br
        div.grid_garet
          | Fashion Responsible is a platform for selling & buying hand me down clothes.
          br
          | We believe that fashion should be available to everyone, with minimum pollution and prices, and think that hand me down clothes are the best way to achieve that.
          br
          | Our website offers you the possibility to buy & sell hand me down clothes from the comfort of your own home.
          br
          | Here in FR we are a community, and are always available for our users at: 
          a(href='mailto: fashionresponsible2023@gmail.com') fashionresponsible2023@gmail.com
      div#what_to_do
        div.grid_libre_franklin.mp_headline Where to begin?
          br
          br
        div.grid_garet_bold
          input.button.button-category(type='button' value='All Categories' onclick="window.location.href='http://localhost:3000/categories';")
          input.button.button-category(type='button' value='Add New Item' onclick="window.location.href='http://localhost:3000/add_item';")