meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width' initial-scale='1.0')
link(rel='stylesheet' href='../static/fashion_responsible_fe.css')
script(defer src='../static/fashion_responsible_fe.js')
title main
.header_container
  .side_fr
    a#side_name(href='main_page.html') FASHION RESPONSIBLE
  #side_nav_bar.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') ×
    a(href='main_page.html') Main page
    a(href='categories.html') Categories
    a(href='men_pants.html') Men's pants
    a(href='men_shirts.html') Men's shirts
    a(href='men_shoes.html') Men's shoes
    a(href='men_accessories.html') Men's accessories
    a(href='women_pants.html') Women's pants
    a(href='women_shirts.html') Women's shirts
    a(href='women_shoes.html') Women's shoes
    a(href='women_accessories.html') Women's accessories
    a(href='add_item.html') Add new item
  .side_nav_button
    input(type='image' src='../static/cart_symbol.png' alt='button' onclick='window.location.href=\'cart.html\';')
    input(type='image' src='../static/nav_symbol.png' alt='button' onclick='openNav()')
#main
  .grid_garet_bold
    hp_slogan Affordable fashion, zero pollution
  br
  br
  .mp_design
    #about_us
      .grid_libre_franklin.mp_headline About us...
      br
      .grid_garet
        | Fashion Responsible is a platform for selling & buying hand me down clothes.
        br
        | 
We believe that fashion should be available to everyone, with minimum pollution and prices, and think that hand me down clothes are the best way to achieve that.
        br
        | 
Our website offers you the possibility to buy & sell hand me down clothes from the comfort of your own home.
        br
        | 
Here in FR we are a community, and are always available for our users at: 
        a(href='mailto: FashionResponsible@gmail.com') FashionResponsible@gmail.com
    #what_to_do
      .grid_libre_franklin.mp_headline Where to begin?
      br
      br
      br
      .grid_garet_bold
        input.button.button-category(type='button' value='All Categories' onclick='window.location.href=\'categories.html\';')
        input.button.button-category(type='button' value='Add New Item' onclick='window.location.href=\'add_item.html\';')