<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="../static/fashion_responsible_fe.css">
        <script defer src="../static/fashion_responsible_fe.js"></script>
        <title>homepage</title>
    </head>
    <body role = "general">
        <div class="header_container">
            <div class="side_fr"><a id="side_name" href="homepage.html">FASHION RESPONSIBLE</a></div>
        </div>
        <div class="grid_libre_franklin"><hp_fr>FASHION</hp_fr></div>
        <div class="grid_libre_franklin"><hp_fr>RESPONSIBLE</hp_fr></div>
        <div class="grid_garet"> <hp_desc>Please enter your registered email address <br> and a new password will be sent to you </hp_desc></div>
        <br>
         <div class="grid_garet_bold">
             <form action="" method="GET" id="forgot_pass_form">
                 <input type="email" id="EMAIL_ADDRESS" placeholder="EMAIL ADDRESS" class="input_bar" required/>
                 <br> <br>
                 <div class="grid_garet_bold"><input type="submit" id="send" value="SEND" class="button"></div>
            </form>
         </div>
    </body>
</html>