<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="../static/fashion_responsible_fe.css">
        <script defer src="../static/fashion_responsible_fe.js"></script>
        <title>homepage</title>
    </head>
    <body role = "homepage">
        <div class="grid_garet_bold"><hp_welcome>WELCOME TO</hp_welcome></div>
        <div class="grid_libre_franklin"><hp_fr>FASHION</hp_fr></div>
        <div class="grid_libre_franklin"><hp_fr>RESPONSIBLE</hp_fr></div>
        <div class="grid_garet"> <hp_slogan>Where you can buy & sell hand me down clothes</hp_slogan></div>
        <div class="grid_garet_bold"> <hp_slogan>Affordable fashion, zero pollution</hp_slogan></div>
        <br>
         <div class="grid_garet_bold">
             <form action="" method="GET" id="home_form">
                 <input type="email" id="EMAIL_ADDRESS" placeholder="EMAIL ADDRESS" class="input_bar" required/>
                 <br> <br>
                 <input type="password" id="PASSWORD" placeholder="PASSWORD" class="input_bar" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                 <br> <br>
                 <div class="grid_garet_bold"><input type="submit" id="enter" value="ENTER" class="button"></div>
            </form>
             <div class="grid_garet"><a id="forgot_pass" href="forgot_password.html">Forgot password?</a></div>
             <div class="grid_garet"><hp_noAC>Don't have an account yet?</hp_noAC></div>
             <div class="grid_garet_bold"><input type="button" id="sign_up" value="SIGN UP" class="button" onclick="window.location.href='sign_up.html';"></div>
        </div>
    </body>
</html>