<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="../static/fashion_responsible_fe.css">
    <script defer src="../static/fashion_responsible_fe.js"></script>
    <title>homepage</title>
</head>
<body role = "homepage">
<div class="grid_container">
    <div class="grid_garet_bold"><hp_welcome>WELCOME TO</hp_welcome></div>
    <div class="grid_libre_franklin"><hp_fr>FASHION</hp_fr></div>
    <div class="grid_libre_franklin"><hp_fr>RESPONSIBLE</hp_fr></div>
    <div class="grid_garet"> <hp_desc>Where you can buy & sell hand me down clothes</hp_desc></div>
    <div class="grid_garet_bold"> <hp_slogan>Affordable fashion, zero pollution</hp_slogan></div>
    <br>
 <div class="grid_garet_bold"><form action="" method="GET">
     <input type="text" id="EMAIL_ADDRESS" placeholder="EMAIL ADDRESS" class="input_bar" />
     <br> <br>
     <input type="text" id="PASSWORD" placeholder="PASSWORD" class="input_bar"/>
     <br> <br>
     <div class="grid_garet"><a role="homepage" href="sign_up.html">Forgot password?</a></div>
     <br>
     <div class="grid_garet"><hp_noAC>Don't have an account yet?</hp_noAC></div>
     <div class="grid_garet_bold"><input type="button" id="sign_up" value="SIGN UP" class="button" onclick="window.location.href='sign_up.html';"></div>
    </form></div>

    </div>
</body>
</html>