<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <link rel="stylesheet" href="../static/fashion_responsible_fe.css">
        <script defer src="../static/fashion_responsible_fe.js"></script>
        <title>men_accessories</title>
    </head>
    <body role = "general">
        <div class="header_container">
            <div class="side_fr"><a id="side_name" href="main_page.html">FASHION RESPONSIBLE</a></div>
            <div id=side_nav_bar class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="main_page.html">Main page</a>
                <a href="categories.html">Categories</a>
                <a href="men_pants.html">Men's pants</a>
                <a href="men_accessories.html">Men's shirts</a>
                <a href="men_shoes.html">Men's shoes</a>
                <a href="men_accessories.html">Men's accessories</a>
                <a href="women_pants.html">Women's pants</a>
                <a href="women_accessories.html">Women's shirts</a>
                <a href="women_shoes.html">Women's shoes</a>
                <a href="women_accessories.html">Women's accessories</a>
                <a href="add_item.html">Add new item</a>
            </div>
            <div class="side_nav_button"><input type="image" src="../static/cart_symbol.png" alt="button" onclick="window.location.href='cart.html';">
                <input type="image" src="../static/nav_symbol.png" alt="button" onclick="openNav()">
            </div>
        </div>
        <div id="main">
            <div class="grid_libre_franklin"><page_headline>MEN'S ACCESSORIES</page_headline></div>
            <br><br><br>
        <div class="grid_category_page">
                <div class="item_in_cat first_in_row"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item1')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item1">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item1')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item1" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item1')"></div>
                            <div><input type="button" id="nav_to_item1" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
                <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item2')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item2">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item2')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item2" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item2')"></div>
                            <div><input type="button" id="nav_to_item2" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
                <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item3')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item3">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item3')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item3" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item3')"></div>
                            <div><input type="button" id="nav_to_item3" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
            <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item4')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item4">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item4')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item4" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item4')"></div>
                            <div><input type="button" id="nav_to_item4" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
                <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item5')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item5">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item5')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item5" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item5')"></div>
                            <div><input type="button" id="nav_to_item5" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
            <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="pop_out_item('pop_out_item6')" width="100rem" height="100rem" >
                    <div class="popout_item_cat" id="pop_out_item6">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeItem('pop_out_item6')">&times;</a>
                        <div><img src="../static/men_accessories_example.jfif" width="150rem" height="150rem" class="insidePic"></div>
                        <div class="grid_garet">
                            <div>Men's watch</div>
                            <div>60 NIS </div>
                            <div>Size: S </div>
                            <div>Brand: Levi's </div>
                            <div>Year: 2016 </div>
                            <div>Pickup: Yitzhack I. Rager Boulevard 105 </div>
                            <div><input type="button" id="add_item6" value="ADD TO CART" class="button finish_checkout" onclick="add_to_cart('add_item6')"></div>
                            <div><input type="button" id="nav_to_item6" value="Navigate to pickup" class="button finish_checkout" onclick="window.location.href='https://www.google.de/maps/place/Yitzhack+I.+Rager+Blvd+105,+Beersheba,+Israel/@31.262666,34.7956877,17z/data=!3m1!4b1!4m5!3m4!1s0x1502665e4c07036f:0x850a655c3c0cfdad!8m2!3d31.2626614!4d34.7978764?hl=en&authuser=0';"></div>
                        </div>
                    </div>
                </div>
            <div class="item_in_cat first_in_row"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem" ></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat first_in_row"><input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem" ></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>
            <div class="item_in_cat"> <input type="image" src="../static/men_accessories_example.jfif" alt="button" onclick="window.location.href='men_accessories.html';" width="100rem" height="100rem"></div>

        </div>
        </div>
    </body>
</html>