<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="../static/fashion_responsible_fe.css">
    <script defer src="../static/fashion_responsible_fe.js"></script>
    <title>men_shirts</title>
</head>
<body role = "general">
<div class="grid_container">
    <div class="side_fr"><a id="side_name" href="homepage.html">FASHION RESPONSIBLE</a></div>
    <div class="grid_libre_franklin"><page_headline>MEN'S SHIRTS</page_headline></div>
    <br><br><br>
    </div>
<div class="grid_category_page">
    <div class="item_in_cat"><input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem" ></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div class="item_in_cat"><input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem" ></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div class="item_in_cat"><input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem" ></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>
    <div> <input type="image" src="../static/men_shirt_example.jfif" alt="button" onclick="window.location.href='homepage.html';" width="100rem" height="100rem"></div>

</div>
<!--<div class="grid_garet grey">Page 1 of 5 </div>-->
<!--<div class="grid_garet_bold"> <input type="image" src="../static/arrow_button.png" alt="button" onclick="window.location.href='homepage.html';" width="20rem" height="20rem"></div>-->

</body>
</html>